#TOP{
    -fx-background-color:linear-gradient( to top RIGHT, #0F50A2, #A4D8FF);
    -fx-border-color: #000;
    -fx-border-width: .4px 0px .4px .4px;
}

#Acceuil_btn{
    -fx-background-color: linear-gradient(to bottom right, #0F50A2, #A4D8FF);
}

.button {
    -fx-background-color: TRANSPARENT;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-background-insets: 0, 1, 2, 3;
}

.NAV-FORM{
    -fx-background-color:linear-gradient( to BOTTOM right, #0F50A2, #A4D8FF);
    -fx-border-color: #000;
    -fx-border-width: .4px 0px .4px .4px;
}
#WELCO{
    -fx-text-fill : #FFF;
}
#ajoutetudiant{
    -fx-text-fill : #ac156e;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,5), 6,0,0,0);
}
.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}

.carte{
    -fx-background-color:linear-gradient( to BOTTOM right, #0F50A2, #A4D8FF);
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 10px 20px;
    -fx-transition: background-color 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0);
}

#supprimer_etudiant, #supprimer_enseignant, #supprimer_pfe, #supprimer_jury, #supprimer_soutenance{
    -fx-text-fill : #FFF;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom, #ac156e, #ac156e);
    -fx-background-radius: 10px; /* Rounded corners for a softer look */
    -fx-border-color: #891259; /* Slightly darker border for definition */
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 10px 20px; /* Generous padding for comfort */
    -fx-cursor: hand; /* Standard hand cursor on hover */
    -fx-transition: background-color 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0);
    -fx-hover-base: #891259;
    -fx-text-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 1, 1, 1, 1);
}
#titre{
    -fx-text-fill : #FFF;
}
#ajouter_etudiant, #modifier_etudiant, #ajouter_enseignant, #modifier_enseignant, #ajouter_pfe, #modifier_pfe, #ajouter_jury, #modifier_jury, #ajouter_soutenance, #modifier_soutenance{
    -fx-text-fill : #FFF;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom, #ac156e, #ac156e);
    -fx-background-radius: 10px; /* Rounded corners for a softer look */
    -fx-border-color: #891259; /* Slightly darker border for definition */
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 10px 20px; /* Generous padding for comfort */
    -fx-cursor: hand; /* Standard hand cursor on hover */
    -fx-transition: background-color 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0);
    -fx-hover-base: #891259;
    -fx-text-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 1, 1, 1, 1);
}
#ajoutetudiant1{
    -fx-text-fill : #ac156e;
}

#plus{
    -fx-font-size: 150px;
}

#jurycreation{
    -fx-text-fill : #ac156e;
}

#boutonjury{
    -fx-text-fill : #FFF;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom, #ac156e, #ac156e);
    -fx-background-radius: 10px; /* Rounded corners for a softer look */
    -fx-border-color: #891259; /* Slightly darker border for definition */
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 10px 20px; /* Generous padding for comfort */
    -fx-cursor: hand; /* Standard hand cursor on hover */
    -fx-transition: background-color 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0);
    -fx-hover-base: #891259;
    -fx-text-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 1, 1, 1, 1);
}
#boutonplanification{
    -fx-text-fill : #FFF;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom, #ac156e, #ac156e);
    -fx-background-radius: 10px; /* Rounded corners for a softer look */
    -fx-border-color: #891259; /* Slightly darker border for definition */
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 10px 20px; /* Generous padding for comfort */
    -fx-cursor: hand; /* Standard hand cursor on hover */
    -fx-transition: background-color 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0);
    -fx-hover-base: #891259;
    -fx-text-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 1, 1, 1, 1);
}
#planification{
    -fx-text-fill : #ac156e;
}