#fond{
    -fx-background-color:linear-gradient( to top right, #fff, #fff);
    -fx-border-color: #000;
    -fx-border-width: .4px 0px .4px .4px;
}

#welcome {
    -fx-background-color: linear-gradient(to bottom, #458BE3, #3579BD);
    -fx-background-radius: 10px; /* Rounded corners for a softer look */
    -fx-border-color: #3579BD; /* Slightly darker border for definition */
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-text-fill: #FFFFFF; /* White text for contrast */
    -fx-padding: 10px 20px; /* Generous padding for comfort */
    -fx-cursor: hand; /* Standard hand cursor on hover */
    -fx-transition: background-color 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0);
    -fx-hover-base: #3579BD;

    -fx-text-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 1, 1, 1, 1);
}
#welcome:hover{
    -fx-background-color: #0F50A2;
}


